
<app-message></app-message>
<br/>
<br/>

<div *ngIf="!showProductDetails">
<nav class="product-filter" >
    <h1>Jackets</h1>

    <div class="sort">
   
     <app-filter [categories] ="categories" (selectedCategory) ="onSelectedCategory($event)"></app-filter>
     <app-sort (selectedSortCategory) ="onSelectedSortCategory($event)"></app-sort>
    
    </div>
  </nav>

  <section class="products">
    <div class="product-card" *ngFor="let product of filterProducts" >
      <div class="product-image" >Product
        <img
          src={{product.image}}
        >
       </div>
      <div class="product-info">
        <h5><a routerLink="/products/{{product.id}}" (click)="onProductClick()">{{product.title}}</a></h5>
        <h6>{{product.price |currency}}</h6>
              </div>
    </div>
   
  </section>
  </div>
  <section *ngIf="showProductDetails">
    <router-outlet></router-outlet>
  </section>
  