
<app-message></app-message>

<nav class="product-filter">
    <h1>Jackets</h1>

    <div class="sort">
   
     <app-filter [categories] ="categories" (selectedCategory) ="onSelectedCategory($event)"></app-filter>
     <app-sort (selectedSortCategory) ="onSelectedSortCategory($event)"></app-sort>
    
    </div>
  </nav>

  <section class="products">
    <div class="product-card" *ngFor="let product of filterProducts">
      <div class="product-image">
        <img
          src={{product.image}}
        />
      </div>
      <div class="product-info">
        <h5>{{product.title}}</h5>
        <h6>{{product.price |currency}}</h6>
              </div>
    </div>

  
  </section>